<h1 class ='center'>Select Workstation</h1>
  <div class="btn-group btn-group-vertical" style="float:left">
	  	<ul>
		  <li><%= link_to 'Intake', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Patient', new_patient_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Doctor', doctors_dashboard_index_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Test', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Test', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Test', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Test', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
			</ul>
  </div>
<div style="float:left margin:10px 10px 10px 10px;"><%= image_tag('office.jpg') %></div>



