

<h1 class ='center'>Select Workstation</h1>
  <div class="btn-group btn-group-vertical" style="float:left">
	  	<ul>
		  <li><%= link_to 'Intake', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Patient', new_patient_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Doctor', doctors_dashboard_index_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Bathroom A', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Labratory A', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Kitchen', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
		  <li><%= link_to 'Backyard', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;' %></li>
			</ul>
  </div>
<div style="float:left"><%= image_tag('office.jpg', :style=>'margin: 20px 20px 20px 20px') %></div>


<%= pie_chart({"medical_supplies"=>25, "office_supplies" =>10, "computer_supplies"=>15, "labor"=>25, "lunch"=>25})  %>

 