<h1 class="letters">User Permissions</h1>

<table>
  <thead>
    <tr>
      <th style="text-decoration:underline; text-align:left; color:#BDB76B;">User</th>
      <th style="text-decoration:underline; text-align:left; color:#BDB76B;">Permission</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_permissions.each do |user_permission| %>
      <tr>
        <td style="padding-right:40px;"><%= user_permission.user %></td>
        <td style="padding-right:40px;"><%= user_permission.description %></td>
        <td><%= link_to 'Show', user_permission, :class => 'btn btn-mini active' %></td>
        <td><%= link_to 'Edit', edit_user_permission_path(user_permission), :class => 'btn btn-mini active' %></td>
        <td><%= link_to 'Destroy', user_permission,:class => 'btn btn-mini btn-danger active', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

<%= link_to 'New User permission', new_user_permission_path, :class => 'btn btn-primary active' %> |
<%= link_to 'Back', dashboard_index_path, :class => 'btn btn-primary active', :style => 'width: 120px;'  %>
<br>
<br>