<%= form_for(@medical_equipment) do |f| %>
  <% if @medical_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_equipment.errors.count, "error") %> prohibited this medical_equipment from being saved:</h2>

      <ul>
      <% @medical_equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :catheter %><br>
    <%= f.check_box :catheter %>
  </div>
  <div class="field">
    <%= f.label :wheelchair %><br>
    <%= f.check_box :wheelchair %>
  </div>
  <div class="field">
    <%= f.label :nebulizer %><br>
    <%= f.check_box :nebulizer %>
  </div>
  <div class="field">
    <%= f.label :glasses %><br>
    <%= f.check_box :glasses %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.check_box :contacts %>
  </div>
  <div class="field">
    <%= f.label :hearing_aid %><br>
    <%= f.check_box :hearing_aid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
