<p id="notice"><%= notice %></p>

<p>
  <strong>Catheter:</strong>
  <%= @medical_equipment.catheter %>
</p>

<p>
  <strong>Wheelchair:</strong>
  <%= @medical_equipment.wheelchair %>
</p>

<p>
  <strong>Nebulizer:</strong>
  <%= @medical_equipment.nebulizer %>
</p>

<p>
  <strong>Glasses:</strong>
  <%= @medical_equipment.glasses %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @medical_equipment.contacts %>
</p>

<p>
  <strong>Hearing aid:</strong>
  <%= @medical_equipment.hearing_aid %>
</p>

<%= link_to 'Edit', edit_medical_equipment_path(@medical_equipment) %> |
<%= link_to 'Back', medical_equipments_path %>
