<%= form_for(@patient_history) do |f| %>
  <% if @patient_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_history.errors.count, "error") %> prohibited this patient_history from being saved:</h2>

      <ul>
      <% @patient_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alcohol %><br>
    <%= f.check_box :alcohol %>
  </div>
  <div class="field">
    <%= f.label :drinks_per_day %><br>
    <%= f.number_field :drinks_per_day %>
  </div>
  <div class="field">
    <%= f.label :years_been_drnking %><br>
    <%= f.number_field :years_been_drnking %>
  </div>
  <div class="field">
    <%= f.label :smoking %><br>
    <%= f.check_box :smoking %>
  </div>
  <div class="field">
    <%= f.label :packs_per_day %><br>
    <%= f.number_field :packs_per_day %>
  </div>
  <div class="field">
    <%= f.label :years_been_smoking %><br>
    <%= f.number_field :years_been_smoking %>
  </div>
  <div class="field">
    <%= f.label :illicit_drugs %><br>
    <%= f.text_area :illicit_drugs %>
  </div>
  <div class="field">
    <%= f.label :religion %><br>
    <%= f.text_area :religion %>
  </div>
  <div class="field">
    <%= f.label :sibling_description %><br>
    <%= f.text_area :sibling_description %>
  </div>
  <div class="field">
    <%= f.label :surgical_history %><br>
    <%= f.text_area :surgical_history %>
  </div>
  <div class="field">
    <%= f.label :medical_history %><br>
    <%= f.text_area :medical_history %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br>
    <%= f.check_box :allergies %>
  </div>
  <div class="field">
    <%= f.label :allergy_description %><br>
    <%= f.text_area :allergy_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
