<h1>Listing patient_histories</h1>

<table>
  <thead>
    <tr>
      <th>Alcohol</th>
      <th>Drinks per day</th>
      <th>Years been drnking</th>
      <th>Smoking</th>
      <th>Packs per day</th>
      <th>Years been smoking</th>
      <th>Illicit drugs</th>
      <th>Religion</th>
      <th>Sibling description</th>
      <th>Surgical history</th>
      <th>Medical history</th>
      <th>Allergies</th>
      <th>Allergy description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_histories.each do |patient_history| %>
      <tr>
        <td><%= patient_history.alcohol %></td>
        <td><%= patient_history.drinks_per_day %></td>
        <td><%= patient_history.years_been_drnking %></td>
        <td><%= patient_history.smoking %></td>
        <td><%= patient_history.packs_per_day %></td>
        <td><%= patient_history.years_been_smoking %></td>
        <td><%= patient_history.illicit_drugs %></td>
        <td><%= patient_history.religion %></td>
        <td><%= patient_history.sibling_description %></td>
        <td><%= patient_history.surgical_history %></td>
        <td><%= patient_history.medical_history %></td>
        <td><%= patient_history.allergies %></td>
        <td><%= patient_history.allergy_description %></td>
        <td><%= link_to 'Show', patient_history %></td>
        <td><%= link_to 'Edit', edit_patient_history_path(patient_history) %></td>
        <td><%= link_to 'Destroy', patient_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient history', new_patient_history_path %>
