<div class="right image"><%= image_tag 'medical_logo.jpg'%></div><br>
<h1 class="center letters" >Substances Used by Patients</h1><br>
<table id="report" border="5" style="width:1400px">
	<col width="140">
	<thead>
		<tr style="background-color:#4169E1">
			<th class="row">Patient name</th>
			<th class="row">Drinks per day</th>
			<th class="row">Years drinking</th>
			<th class="row">Packs per day</th>
			<th class="row">Years smoking</th>
			<th class="row">Illicit drugs</th>
			<th class="row">Allergies</th>
			<th class="row">Allergy description</th>
		</tr>
	</thead>
	<tbody class="report_data report">
		<tr>
			<% @patient_substances.each do |patient| %>
			<td><%= patient.last_name.capitalize+', '+patient.first_name.capitalize %></td>
			<td class="center"><%= patient.drinks_per_day %></td>
			<td class="center"><%= patient.years_been_drinking %></td>
			<td class="center"><%= patient.packs_per_day %></td>
			<td class="center"><%= patient.years_been_smoking %></td>
			<td><%= patient.illicit_drugs.capitalize.empty? ? 'N/A' : patient.illicit_drugs.capitalize %></td>
			<td class="center"><%= patient.allergies == 1 ? 'YES' : 'NO' %></td>
			<td><%= patient.allergy_description.capitalize %></td>
		<tr>
				<% end %>	
	</tbody>
</table>
<br />

<%= link_to 'Back', dashboard_index_path, :class => 'btn btn-primary active', :style => 'width: 120px;' %><br><br>