<h3>Intake for <%= @patient.to_s %></h3>
<%= form_for(@intake) do |f| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</h2>

      <ul>
      <% @intake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='width:1000px' class="field">
    <ul>
      <li>Complaint 1:<%= f.text_field :complaint_1 %></li>
      <li>Complaint 2:<%= f.text_field :complaint_2 %></li>
      <li>Complaint 3:<%= f.text_field :complaint_3 %></li>
    </ul>
  </div>
  <hr />
  <div style='margin-bottom:80px' class="field">
    <ul>
      <li><%= f.label :illness_history %></li>
      <li><%= f.text_field :illness_history %></li>
    </ul>
  </div>
  <div class="field">
    <table id='pain'>
      <tbody>
        <%= raw pain_quality_boxes %>
      </tbody>
    </table>
  </div>
  <hr />
  <div style='margin-bottom:120px' class="field">
    <ul>
      <li class='left'>Pain Now:<%= f.number_field :pain_now %></li>
      <li class='left'>Least Pain One Week:<%= f.number_field :least_pain_one_week %></li>
      <li class='left'>Worst Pain One Week:<%= f.number_field :worst_pain_one_week %></li>
      <li class='left'>Average Pain Last Week:<%= f.number_field :average_pain_last_week %></li>
    </ul>
  </div>
  <hr />
  <div class="field" style="margin-bottom:120px">
    <ul>
      <li class='left'>Pain Duration:<%= f.text_field :pain_duration %></li>
      <li class='left'>Pain Timing:<%= f.text_field :pain_timing %></li>
      <li class='left'>Context of Pain:<%= f.text_field :context_of_pain %></li>
      <li class='left'>Modifying Factors:<%= f.text_field :modifying_factors %></li>
    </ul>
  </div>
  <hr />
  <div class="field" class="margin-bottom:120px">
    <ul>
      <li class='left'>Signs and Symptoms:<%= f.text_field :signs_and_sympotoms %></li>
      <li class='left'>General Activity:<%= f.number_field :general_activity %></li>
      <li class='left'>Mood:<%= f.number_field :mood %></li>
      <li class='left'>Normal Work:<%= f.number_field :normal_work %></li>
    </ul>
  </div>
  <div class="field" style='margin-bottom:120px'>
    <ul>
      <li class='left'>Sleep:<%= f.number_field :sleep %></li>
      <li class='left'>Enjoyment:<%= f.number_field :enjoyment %></li>
      <li class='left'>concentration:<%= f.number_field :concentration %></li>
    </ul>
  </div>
  <hr />
  <div class="field" style='margin-bottom:120px'>
    <ul>
      <li class='left'>current_pain_meds:<%= f.text_field :current_pain_meds %></li>
      <li class='left'>interaction_with_others:<%= f.number_field :interaction_with_others %></li>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
