<h3>Intake for <%= @patient.to_s %></h3>
<%= form_for(@intake) do |f| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</h2>

      <ul>
      <% @intake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='width:1000px' class="field">
    <span>Complaint 1:<%= f.text_field :complaint_1 %></span>
    <span class='marginedLeft'>Complaint 2:<%= f.text_field :complaint_2 %></span>
    <span class='marginedLeft'>Complaint 3:<%= f.text_field :complaint_3 %></span>
  </div>
  <hr />
  <div class="field">
    <%= f.label :illness_history %><br>
    <%= f.text_field :illness_history %>
  </div>
  <hr />
  <div class="field">
    <%= raw pain_quality_boxes %>
  </div>
  <hr />
  <div style='width:1200px' class="field">
    <span>Pain Now:<%= f.number_field :pain_now %></span>
    <span class='marginedLeft'>Least Pain One Week:<%= f.number_field :least_pain_one_week %></span>
    <span class='marginedLeft'>Worst Pain One Week:<%= f.number_field :worst_pain_one_week %></span><br />
    <span>Average Pain Last Week:<%= f.number_field :average_pain_last_week %></span>
  </div>
  <hr />
  <div class="field">
    Pain Duration:<%= f.text_field :pain_duration %>
    <span class='marginedLeft'>Pain Timing:<%= f.text_field :pain_timing %></span>
  </div>
  <div class="field">
    Context of Pain:<%= f.text_field :context_of_pain %>
    <span class='marginedLeft'>Modifying Factors:<%= f.text_field :modifying_factors %></span>
  </div>
  <hr />
  <div class="field">
    Signs and Symptoms:<%= f.text_field :signs_and_sympotoms %>
    <span class='marginedLeft'>General Activity:<%= f.number_field :general_activity %></span>
  </div>
  <hr />
  <div class="field">
    Mood:<%= f.number_field :mood %>
    <span class='marginedLeft'>Normal Work:<%= f.number_field :normal_work %></span>
  </div>
  <hr />
  <div class="field">
    Sleep:<%= f.number_field :sleep %>
    <span class='marginedLeft'>Enjoyment:<%= f.number_field :enjoyment %></span>
  </div>
  <hr />
  <div class="field">
    <%= f.label :concentration %><br>
    <%= f.number_field :concentration %>
    <%= f.label :interaction_with_others %><br>
    <%= f.number_field :interaction_with_others %>
  </div>
  <hr />
  <div class="field">
    <%= f.label :current_pain_meds %><br>
    <%= f.text_field :current_pain_meds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
