<h3></h3><br>
<%= form_for(@intake) do |f| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</h2>

      <ul>
      <% @intake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='width:1200px margin-top:100px' class="field">
    <ul>
      <li><label>Complaint 1:</label><%= f.text_field :complaint_1, :id=>"color" %></li>
      <li><label>Complaint 2:</label><%= f.text_field :complaint_2 %></li>
      <li><label>Complaint 3:</label><%= f.text_field :complaint_3 %></li>
      <li><label>Illness History:</label><%= f.text_field :illness_history %></li>
    </ul>
  </div>
  <br />
  <div class="field" style='margin-top:100px'>
    <table id='pain'>
      <tbody>
        <%= raw pain_quality_boxes %>
      </tbody>
    </table>
  </div>
  <hr class="hr">
  <div style='margin-bottom:150px' class="field">
    <ul>
      <li class='left'><label>Pain Now:</label><%= f.number_field :pain_now %></li>
      <li class='left'><label>Least Pain One Week:</label><%= f.number_field :least_pain_one_week %></li>
      <li class='left'><label>Worst Pain One Week:</label><%= f.number_field :worst_pain_one_week %></li>
      <li class='left'><label>Average Pain Last Week:</label><%= f.number_field :average_pain_last_week %></li>
    </ul>
  </div>
  <hr class="hr">
  <div class="field" style="margin-bottom:150px">
    <ul>
      <li class='left'><label>Pain Duration:</label><%= f.text_field :pain_duration %></li>
      <li class='left'><label>Pain Timing:</label><%= f.text_field :pain_timing %></li>
      <li class='left'><label>Context of Pain:</label><%= f.text_field :context_of_pain %></li>
      <li class='left'><label>Modifying Factors:</label><%= f.text_field :modifying_factors %></li>
    </ul>
  </div>
  <hr class="hr">
  <div class="field margin-line " style="margin-bottom:150px">
    <ul>
      <li class='left'><label>Signs and Symptoms:</label><%= f.text_field :signs_and_sympotoms %></li>
      <li class='left'><label>General Activity:</label><%= f.number_field :general_activity %></li>
      <li class='left'><label>Mood:</label><%= f.number_field :mood %></li>
      <li class='left'><label>Normal Work:</label><%= f.number_field :normal_work %></li>
    </ul>
  </div>
  <hr class="hr">
  <div class="field" style='margin-bottom:150px'>
    <ul>
      <li class='left'><label>Sleep:</label><%= f.number_field :sleep %></li>
      <li class='left'><label>Enjoyment:</label><%= f.number_field :enjoyment %></li>
      <li class='left'><label>concentration:</label><%= f.number_field :concentration %></li>
    </ul>
  </div>
  <hr class="hr">
  <div class="field" style='margin-bottom:150px'>
    <ul>
      <li class='left'><label>current pain meds:</label><%= f.text_field :current_pain_meds %></li>
      <li class='left'><label>interaction with others:</label><%= f.number_field :interaction_with_others %></li>
    </ul>
  </div>
    <%= f.hidden_field :patient_id, :value=>params[:patient_id] %>
  <div class="actions" style="margin-left:30px;">
    <%= f.submit 'Submit', :class => 'btn btn-primary active', :style => 'width: 120px; height:30px;'%>
    <%= link_to 'Back', intakes_path, :class => 'btn btn-primary active', :style => 'width: 120px;'  %>
  </div>
<% end %>
