<h3 class="letters">Search for a patient or create a new patient</h3><br>
<%= form_tag search_path, :remote=>true do %>
  <span style="color:#BDB76B;"><label><b>SSN:</b></label></span><%= text_field_tag :ssn %>
  <br><b>OR</b><br>
  <br />
  <span style="color:#BDB76B;"><label><b>Last Name:</b></label></span><%= text_field_tag :last_name %>
  <br />
  <%= submit_tag 'search', :class => 'btn btn-primary active', :style => 'width: 120px; height:30px;' %>
  <%= link_to 'New Patient', new_patient_path, :class => 'btn btn-primary active' %>
	<%= link_to 'Back', dashboard_index_path, :class => 'btn btn-primary active', :style => 'width: 120px;'  %>
<% end %>
<div id='results' style="color:green"></div>
