<h3>Search for a patient or create a new patient</h3>
<%= form_tag search_path, :remote=>true do %>
  SSN:<%= text_field_tag :ssn %>
  <br />
  or
  <br />
  Last Name: <%= text_field_tag :last_name %>
  <br />
  <%= submit_tag 'search', :class=>'btn btn-primary' %>
  <%= link_to 'New Patient', new_patient_path, :class => 'btn btn-primary' %>
	<%= link_to 'Back', dashboard_index_path, :class => 'btn btn-primary', :style => 'width: 120px;'  %>
<% end %>
<div id='results'></div>
