<p id="notice"><%= notice %></p>

<div style='height:465px; margin:auto; padding:20px; width:100%;'>
<div style="width: 40%; height:475px; float:left;"> 

<p>
  <strong>Complaint 1:</strong>
  <%= @intake.complaint_1 %>
</p>

<p>
  <strong>Complaint 2:</strong>
  <%= @intake.complaint_2 %>
</p>

<p>
  <strong>Complaint 3:</strong>
  <%= @intake.complaint_3 %>
</p>

<p>
  <strong>Illness history:</strong>
  <%= @intake.illness_history %>
</p>
<p>
  <strong>Pain Quality:</strong><br />
  <%= raw pain_quality_list(@intake) %>
</p>

<p>
  <strong>Pain now:</strong>
  <%= @intake.pain_now %>
</p>

<p>
  <strong>Least pain one week:</strong>
  <%= @intake.least_pain_one_week %>
</p>

<p>
  <strong>Worst pain one week:</strong>
  <%= @intake.worst_pain_one_week %>
</p>

<p>
  <strong>Average pain last week:</strong>
  <%= @intake.average_pain_last_week %>
</p>

<p>
  <strong>Pain duration:</strong>
  <%= @intake.pain_duration %>
</p>

<p>
  <strong>Pain timing:</strong>
  <%= @intake.pain_timing %>
</p>

<p>
  <strong>Context of pain:</strong>
  <%= @intake.context_of_pain %>
</p>

</div>
<div style="height:465px; margin-left: 15%;">
<p>

  <strong>Modifying factors:</strong>
  <%= @intake.modifying_factors %>
</p>

<p>
  <strong>Signs and sympotoms:</strong>
  <%= @intake.signs_and_sympotoms %>
</p>

<p>
  <strong>General activity:</strong>
  <%= @intake.general_activity %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @intake.mood %>
</p>

<p>
  <strong>Normal work:</strong>
  <%= @intake.normal_work %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @intake.sleep %>
</p>

<p>
  <strong>Enjoyment:</strong>
  <%= @intake.enjoyment %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @intake.concentration %>
</p>

<p>
  <strong>Interaction with others:</strong>
  <%= @intake.interaction_with_others %>
</p>

<p>
  <strong>Current pain meds:</strong>
  <%= @intake.current_pain_meds %>
</p>
</div>
</div>
<%= link_to 'Back/Edit', edit_intake_path(@intake), :class => 'btn btn-primary active', :style => 'width: 120px;' %> |
<%= link_to 'Dashboard', dashboard_index_path, :class => 'btn btn-primary active', :style => 'width: 120px;'  %> |
<%= link_to 'New Intake', intakes_path, :class => 'btn btn-primary active', :style => 'width: 120px;' %>
